body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #40514E;
}

a:link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: auto 10px;
  text-decoration: none;
}

a:hover {
color: #11999E;
}

h1 {
  font-size: 3.75rem;
  margin-top: 50px auto 0 auto;
  font-family: 'Alex Brush', cursive;
  color:#757575;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  color: #757575;
  padding-bottom: 20px;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  color: #11999E;
}

p {
  margin-right: 16px;
  margin-left: 16px;
  line-height: 2;
}

hr  {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  height: 0px;
  width: 5%;
  margin: 100px auto;
}

.f-weight {
  font-weight: normal;
}

.intro {
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
}
.skill-img1 {
  width: 20%;
  float: left;
  margin: 40px 30px auto auto;
}

.skill-img2 {
  width: 20%;
  float: left;
  margin: 40px 30px auto auto;
}

.copyright {
  color:#11999E;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
  line-height: 2;
}

.middle-container {
  margin: 100px 0;
}


.bottom-container {
  background-color: #EAF6F6;
  padding-top: 20px;
}


.top-cloud {
  position: absolute;
  right: 300px;
  top:30px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.bottom-container {
  background-color: #EAF6F6;
  padding-top: 20px;
}


.btn  {
  background-color: #EAF6F6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 100;
}

.btn:hover {
  color: #757575;
  border: solid #11999E 1px;
  background-color: #11999E;
  border-radius: 20px;
  text-decoration: none;
  opacity:50;
}
