body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #40514E;
}

a:link {
  font-family: 'Montserrat', sans-serif;
  margin: auto 10px;
  text-decoration: none;
}

a:hover,
a:link,
h3, 
.copyright {
color: #11999E;
}

h1, 
h2, 
hr {
  color:#757575;
}

h2, 
h3 {
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  font-size: 3.75rem;
  margin-top: 50px auto 0 auto;
  font-family: 'Alex Brush', cursive;
}

h2 {
  font-size: 2rem;
  padding-bottom: 20px;
}

p {
  margin: 0 16px;
  line-height: 2;
}

hr  {
  border-style: dotted none none;
  border-width: 5px;
  height: 0px;
  width: 5%;
  margin: 100px auto;
}

.icon {
  font-size: 30px;
  padding: 10px;
}

/* Navigation Bar  */
.navbar{
  background-color: skyblue;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
}

.navbar-link{
font-size: 2.5rem;
}

.navbar-item{
  padding: 0 18px;
}

.f-weight {
  font-weight: normal;
}

.intro {
  width: 30%;
  margin: auto;
}

.section-table {
  padding: 20px 40px;
}

.copyright {
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
  line-height: 2;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #EAF6F6;
  padding-top: 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top:30px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.bottom-container {
  background-color: #EAF6F6;
  padding-top: 20px;
}

.btn {
  background-color: #EAF6F6;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 200;
}

.btn:hover {
  background-color: royalblue;
  color: white;
}
